# Data
data/data/
data/medmnist_cache/
notebooks/data/
notebooks/data-loader.txt

# Results
notebooks/viper_results/
notebooks/viper_results_*/
notebooks/*.png

# Logs
notebooks/*.txt
notebooks/*.log

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Misc
vscode_cli.tar.gz
